.HomeDiv{
    width: 1355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 12%;
    min-height: 535px;
}

.titleHome{
font-size:11px;
padding: 1%;
width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 12%;
    min-height: 470px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
}

h3{
    font-size: 22px;
}

.card{
    margin: 15px;
    width: 25%;
    padding: 14px;
    height: 200px;
    float: left;
}

.titleCard{
    width: 90%;
}

#titleFYP{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

#titleProj{
    width: 100%;
    background-color: #2596be;
    color: #fff;
    height: 30%;
    padding: 1%;
}

.card2{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.card2 p{
    margin: 2px;
}

#supervisorName{

    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#SupvsrTitle{
    width: 100%;
    background-color: #2596be;
    color: #fff;
    height: 25%;
    padding: 2%;
}

#GroupTitle{
    width: 100%;
    background-color: #2596be;
    color: #fff;
    height: 25%;
    padding: 2%;
}

.SupverisorNameCard{
    height: 50px;
    border: none;
    width: 100%;
    margin-bottom: 0;
}